/* =========================
   SPACING IMPROVEMENT
========================= */


section{

    max-width:1250px;

    padding:100px 60px;

}



section h2{

    margin-bottom:45px;

}



section p{

    max-width:1100px;

    line-height:2;

    margin-bottom:30px;

}





/* TABLE OF CONTENTS */

.toc-grid{

    gap:35px;

}



.toc-grid a{

    min-height:180px;

    padding:35px;

}





/* INTRODUCTION */

.intro-box{

    max-width:1100px;

    padding:45px;

    margin-bottom:45px;

}



.highlight-box{

    max-width:1100px;

    padding:40px;

}





/* CARDS */

.cards{

    gap:35px;

}



.card{

    padding:40px;

    min-height:230px;

}





/* PROCESS */

.process{

    gap:30px;

}



.process div{

    padding:45px 20px;

}





/* MOBILE */

@media(max-width:900px){

section{

    padding:60px 25px;

}

}
